<launch>


  <!-- Launch file command-line arguments -->
  <arg name="map_file" default="$(find random_nav)/maps/map.yaml"/>


  <include file="$(find turtlebot_bringup)/launch/minimal.launch" />
  <include file="$(find turtlebot_rviz_launchers)/launch/view_navigation.launch" />
  <include file="$(find turtlebot_navigation)/launch/amcl_demo.launch">
    <arg name="map_file" value="$(arg map_file)"/>
  </include>


</launch>
